<h1> New Game </h1>

  <% @letters.each do |letter| %>
    <%= letter.upcase %>
  <% end %>

<h2> What is the longest word you can find? </h2>

<form action="/score" data-turbo="false">
  <input type="text" name="score" placeholder = "Enter your word here!">
  <input type="submit" value="Play!">
  <%# <%hidden_field_tag %>
</form>



<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
